@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Poppins';
    user-select: none;
}

:root {
    --primary: #f6f7fb;
    --white: #fff;
    --black: #18191a;
    --red: #e74c3c;
    --green: rgb(5, 32, 5);
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--primary);
	transition: all .5s;
}

@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7.ttf') format('truetype'),
         url('./fonts/digital-7 (mono).ttf') format('truetype');
    font-style: normal;
  }